spring:
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    # 熔断降级设定
    sentinel:
      transport:
        dashboard: localhost:8333
        port: 8719
  rabbitmq:
    host: 192.168.56.10
    listener:
      direct:
        acknowledge-mode: manual
    virtual-host: /



  application:
    name: gulimall-third-party
  couchbase:

  # 信息审计模块的配置
management:
  endpoints:
    web:
      exposure:
        include: '*'



cloud:
  aws:
    credentials:
      access-key: XXX
      secret-key: XXX
    region:
      static: ap-northeast-1
      auto: false
    stack:
      auto: false
application:
  bucket:
    name: gulimall-image

server:
  port: 30010
